/* Give your page a fun background color */
body {
  margin: 0;
  background-color: gainsboro;
}
/* Make the header and footer a different color from the background */
header {
  background: midnightblue;
  padding: 8px
}
.site-header {
  height: 0
}
footer{
  background: midnightblue;
}
/* Align the h1 containing your name in the center of the header*/
.myname h1 {
  font-size: 1.7em;
  text-align: center;
  color: #fff;
  text-shadow: .05em .05em .1em lightslategray;
}
/* Make your p tag a different color and italic */
p {
  color: #FFF;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  padding: 4px
}
/* Put a border around your image */
.img-container {
  margin-top: 25px;
  text-align: center;
  display: block
}
.mypic {
  width: 250px;
  height: 250px;
  border: 12px solid dimgray;
}
/* Change the font-family of your list */
.center-attempt {
  text-align: center
}

ul {
  display:inline-block;
  text-align: left;
  font-family: fantasy;
  font-size: 1.1em;
}
